/* Heder*/
body {
    font-family: "Roboto", sant-serif;
    color: #212121;
}

.header-logo-web,
.footer-logo-web {
    font-family: "Raleway", sant-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header-logo-studio {
    font-family: "Raleway", sant-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: #000000;
}

ul {
    list-style: none;
}

.header-item-studia {
    color: #2196F3;
}

.header-item {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.header-item-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.header-item:hover,
.header-item:focus {
    color: #2196F3;
}

.link {
    text-decoration: none;
}

.header-mail, 
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: #2196F3;
}

/* Main */

main {
    text-align: center;
}

.first-title {
    background: #2F303A;
}

.first-title-name {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.header-button {
    font-family: "Roboto", sant-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,88;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.second-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
}

.second-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: #757575;
}

.third-title,
.fourth-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    text-align: center;
    letter-spacing: 0.03em;
}

.foto-item {
    text-align: center;
}

.name-list {
    text-align: center;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
    letter-spacing: 0.03em;
}

.work-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Footer */


.footer {
    font-family: "Roboto", sant-serif;
    background: #2F303A;
}

.footer-logo-studio {
    font-family: "Raleway", sant-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-sait {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail,
.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-sait:hover,
.footer-sait:focus {
    color: #2196F3;
}

/* Portfolio */

.portfolio-list {
    font-family: "Roboto", sant-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,63;
    letter-spacing: 0.03em;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.12);
    color: #212121;
}

.portfolio-item-all {
    font-family: "Roboto", sant-serif;
    color: #FFFFFF;
    background: #2196F3;
    cursor: pointer;
}

.portfolio-item {
    font-family: "Roboto", sant-serif;
    color: #212121;
    cursor: pointer;
}

.portfolio-item:hover,
.portfolio-item:focus {
    color: #FFFFFF;
    background: #2196F3;
}

.portfolio-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 2; /* тут задані значення font-size: 18px; line-height: 36px;*/
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;
    color: #757575;
}