/* Heder*/
:root {
    --btn-color: #FFFFFF; /*зміння для конопки */
    --btn-background: #2196F3; /*зміння для конопки */
    --title-text-color: #212121; /* основний колір для тексту*/
    --secondery-text-color: #757575; /*другорядний текст, використаний в абзацах*/
    --accent-color: #2196F3; /*колір при наведенні корсора мишки*/
    --fon-title-background: #2F303A; /*колір закраски header, footer*/
}

body {
    font-family: "Roboto", sant-serif;
    color: var(--title-text-color);
}

.header-logo-web,
.footer-logo-web {
    font-family: "Raleway", sant-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo-studio {
    color: var(--title-text-color);
}

ul {
    list-style: none;
}

.header-item-studia {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-item {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-item-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.header-item:hover,
.header-item:focus {
    color: var(--accent-color);
}

.link {
    text-decoration: none;
}

.header-mail, 
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/* Main */

main {
    text-align: center;
}

.first-title {
    background: var(--fon-title-background);
}

.first-title-name {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--btn-color);
}

.header-button {
    font-family:inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--btn-color);
    background: var(--btn-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.second-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.second-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondery-text-color);
}

.third-title,
.fourth-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.foto-item {
    text-align: center;
}

.name-list {
    text-align: center;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.work-item {
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondery-text-color);
}

/* Footer */


.footer {
    font-family: "Roboto", sant-serif;
    background: var(--fon-title-background);
}

address {
    font-style: normal;
}

.footer-logo-studio {
    font-family: "Raleway", sant-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--btn-color);
}

.footer-sait {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--btn-color);
}

.footer-mail,
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-sait:hover,
.footer-sait:focus {
    color: var(--accent-color);
}

/* Portfolio */

.portfolio-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    box-shadow: rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.12);
    color: var(--title-text-color);
}

.portfolio-item-all {
    color: var(--btn-color);
    background: var(--accent-color);
    cursor: pointer;
}

.portfolio-item {
    color: var(--title-text-color);
    cursor: pointer;
}

.portfolio-item:hover,
.portfolio-item:focus {
    color: var(--btn-color);
    background: var(--accent-color);
}

.portfolio-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0; /* тут задані значення font-size: 18px; line-height: 36px;*/
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-text {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondery-text-color);
}